# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
build/

# Python
__pycache__/
*.pyc
.pytest_cache/

# OS
.DS_Store
